body {
	margin: 0;
}
.content_body {
	width: 300px;
	height: 500px;
	background: lightgrey;
	position: relative;
}
.content_body header {
	position: relative;
	background-color: black;
	color: white;
	z-index: 1;
	height: 80px;
}
.header_container {
	width: 100%;
	height: 100%;
	position: relative;
}
.header_container h1 {
	font-size: 1rem;
	width: fit-content;
	position: absolute;
	top: calc( 50% - .8rem);
	left: 0;
	right: 0;
	margin: auto;
}
.menu_container {
	width: 50px;
	height: 50px;
	position: absolute;
	top: calc(50% - 25px);
	left: 20px;
			cursor: pointer;
}
.menu_container img {
	width: 100%;
	filter: invert(1);
	position: absolute;
	top: 0;
	left: 0;
}
	.menu_close {
		opacity: 1;
	}
	.menu_close.active {
		opacity: 0;
	}
  .menu_open {
		opacity: 0;
	}
	.menu_open.active {
		opacity: 1;
	}
.content_body section {
	height: 420px;
	display: grid;
	justify-content: center;
	align-content: center;
}
.sample_sp_menu {
	background-color: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: -300px;
	width: 100%;
	height: 100%;
	display: grid;
	justify-content: center;
	align-content: center;
	color: white;
	text-align: center;
	transition: .5s;
}
.sample_sp_menu.active {
	left: 0px;
}
.sample_sp_menu ul {
	padding-inline: 0;
}
.sample_sp_menu li {
	list-style: none;
	margin-top: 1.5rem;
	cursor: pointer;
}